<form (ngSubmit)="sendPerson()">
    <label for="firstName">Nombre</label>
    <input type="text" id="firstName" name="firstName" [(ngModel)]="person.firstName">

    <label for="lastName">Apellido</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="person.lastName">

    <label for="alias">Alias</label>
    <input type="text" id="alias" name="alias" [(ngModel)]="person.alias">

    <label for="cellphone">Celular</label>
    <input type="text" id="cellphone" name="cellphone" [(ngModel)]="person.cellphone">

    <label for="email">Email</label>
    <input type="text" id="email" name="email" [(ngModel)]="person.email">

    <button type="submit" class="btn btn-success">Enviar</button>
</form>

